body {
  padding: 50px;
}
h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: -10px;
}

/* Estilos para la cuadrícula de libros */
.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Estilos para cada tarjeta de libro */
.book-card {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
}

.book-card:hover {
  transform: scale(1.05);
}

/* Estilos para el título del libro */
.book-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilos para otros detalles del libro */
.book-card > div {
  font-size: 14px;
}

/* Espacio entre descripción y otros detalles */
.book-card > div + div {
  margin-top: 5px;
}

/* Estilos para la descripción del libro */
.book-card .descripcion {
  font-style: italic;
}